{
	"HazdevBrokerConfig": {
		"Type":"ConsumerConfig",
		"Properties":{
			"client.id":"consumer.example",
			"group.id":"default.consumer",
			"metadata.broker.list":"localhost:9092",
			"enable.auto.commit":"false"
		}
	},

	"HazdevBrokerTopicConfig": {
		"Type":"TopicConfig",
		"Properties": {
			"auto.commit.enable":"false",
			"auto.offset.reset":"latest"
		}
	},

	"TopicList":["test"]
}
