{
	# The hazdev broker configuration
	"HazdevBrokerConfig": {
		"Type":"ConsumerConfig",
		"Properties":{
			# the id of this consumer client
			"client.id":"consumer.example",

			# the group this consumer client belongs to (usually same as 
			# client.id)
			"group.id":"default.consumer",

			# the list of server(s) making up the kakfa broker cluster
			"metadata.broker.list":"localhost:9092",

			# whether to automatically commit / retrieve client offsets 
			"enable.auto.commit":"false"
		}
	},

	# The topic configuration
	"HazdevBrokerTopicConfig": {
		"Type":"TopicConfig",
		"Properties": {
			# whether to automatically commit / retrieve client offsets for this
			# topic
			"auto.commit.enable":"false",

			# Start at end of topic if there is no offset
			"auto.offset.reset":"latest"
		}
	},

	# The list of topics to subsribe to
	"TopicList":["test"]
}
