{
	"Type":"ArchiveClient",

	# The file extension to use when creating daily files, usually
	# used to identify the file type i.e. "jsonpick" for JSON formatted picks
	"FileExtension":"default",

	# an optional file name suffix added after the date used when naming daily 
	# archive files, often used to identify the system or archive client i.e. 
	# "pick-archive"
	"FileName":"default",

	# the directory to write daily archive files to
	"OutputDirectory":"./files",

	# The hazdev broker configuration
	"HazdevBrokerConfig": {
		"Type":"ConsumerConfig",
		"Properties":{
			# the id of this archive client
			"client.id":"archive.example",

			# the group this archive client belongs to.
			# multiple clients with the same group id balance load over all the 
			# clients allowing multiple clients to scale the processing of 
			# messages 
			# Client(s) with unique group id's process the topic independently
			# allowing for broadcasting of messages to many clients
			"group.id":"default.archive",

			# the list of server(s) making up the kakfa broker cluster that this
			# client should connect to
			"bootstrap.servers":"localhost:9092",

			# This flag controls whether the archive client automatically stores 
			# it's current position in the topic(s) it is archiving. This enables
			# the archive client to pick up where it left off after a restart
			"enable.auto.commit":"true"
		}
	},

	# The list of kafka topics this client should archive messages from
	"TopicList":["test"],

	# Logging configuration file location
	"Log4JConfigFile":"archiveclient.log4j.properties"
}
