{
	"Type":"ArchiveClient",
	"FileExtension":"jsonpick",
	"FileName":"Dev-RayPicker-1",
	"OutputDirectory":"./files",
	"HazdevBrokerConfig": {
		"Type":"ConsumerConfig",
		"Properties":{
			"client.id":"archive.example",
			"group.id":"default.archive",
			"bootstrap.servers":"localhost:9092",
			"enable.auto.commit":"true"
		}
	},
	"TopicList":["Dev-RayPicker-1"],
	"Log4JConfigFile":"archiveclient.log4j.properties"
}
