{
	"Type":"ArchiveClient",

	# The file extension to use
	"FileExtension":"default",

	# the file name 
	"FileName":"default",

	# the directory to write daily files to
	"OutputDirectory":"./files",

	# The hazdev broker configuration
	"HazdevBrokerConfig": {
		"Type":"ConsumerConfig",
		"Properties":{
			# the id of this archive client
			"client.id":"archive.example",

			# the group this consumer client belongs to (usually same as 
			# client.id)
			"group.id":"default.archive",

			# the list of server(s) making up the kakfa broker cluster
			"bootstrap.servers":"localhost:9092",

			# whether to automatically commit / retrieve client offsets (last 
			# recieved position)
			"enable.auto.commit":"true"
		}
	},

	# The list of topics to subsribe to
	"TopicList":["test"],

	# Logging configuration
	"Log4JConfigFile":"archiveclient.log4j.properties"
}
