{
	"Type":"ProducerClient",
	"FileExtension":"jsonpick",
	"InputDirectory":"./test",
	"ArchiveDirectory":"./arch",
	"TimePerFile":1,
	"HazdevBrokerConfig": {
		"Type":"ProducerConfig",
		"Properties":{
			"client.id":"producer.example",
			"group.id":"default.producer",
			"bootstrap.servers":"localhost:9092",
			"retries":"0"
		}
	},
	"Topic":"test",
	"Log4JConfigFile":"producerclient.log4j.properties"
}
