{
	"Type":"ProducerClient",

	# The file extension to use
	"FileExtension":"default",

	# the directory to read input message files from
	"InputDirectory":"./in",

	# the directory to optionally archive message files to
	"ArchiveDirectory":"./arch",

	# the time in seconds between checking for input message files 
	# remove/comment out to disable.
	"TimePerFile":1,

	# The interval to send heartbeat messages, -1 to disable, 0 to always send
	# heartbeat messages
	"HeartbeatInterval":30,

	# The hazdev broker configuration
	"HazdevBrokerConfig": {
		"Type":"ProducerConfig",
		"Properties":{
			# the id of this producer client
			"client.id":"producer.example",

			# the list of server(s) making up the kakfa broker cluster that this
			# client should connect to
			"bootstrap.servers":"localhost:9092",

			# the number of retries for sending messages
			"retries":"0"
		}
	},

	# The kafka topic to send messages to
	"Topic":"test",

	# Logging configuration file location
	"Log4JConfigFile":"producerclient.log4j.properties"
}
