{
	"Type":"ConsumerClient",
	"FileExtension":"jsonpick",
	"OutputDirectory":"./files",
	"MessagesPerFile":10,
	"TimePerFile":15,
	"HazdevBrokerConfig": {
		"Type":"ConsumerConfig",
		"Properties":{
			"client.id":"consumer.example",
			"group.id":"default.consumer",
			"bootstrap.servers":"localhost:9092",
			"enable.auto.commit":"true"
		}
	},
	"TopicList":["Dev-RayPicker-1"],
	"Log4JConfigFile":"consumerclient.log4j.properties"
}
