{
	"Type":"ConsumerClient",
	"FileExtension":"default",
	"FileName":"default",
	"OutputDirectory":"./out",
	"MessagesPerFile":10,
	"TimePerFile":15,
	"HeartbeatInterval":120,
	"WriteHeartbeatFile":true,
	"HazdevBrokerConfig": {
		"Type":"ConsumerConfig",
		"Properties":{
			"client.id":"consumer.example",
			"group.id":"default.consumer",
			"bootstrap.servers":"localhost:9092",
			"enable.auto.commit":"true"
		}
	},
	"TopicList":["test"],
	"Log4JConfigFile":"consumerclient.log4j.properties"
}
