{
	"Type":"ConsumerClient",

	# The file extension to use when creating message files, usually
	# used to identify the file type i.e. "jsonpick" for JSON formatted picks
	"FileExtension":"default",

	# an optional file name suffix added after the date used when naming message 
	# files, often used to identify the system or consumer client i.e. 
	# "pick-consumer"
	"FileName":"default",

	# the directory to write message files (and optionally heartbeat files) to
	"OutputDirectory":"./out",

	# The maximum number of messages in a message file
	"MessagesPerFile":10,

	# The time (in seconds) before writing any pending messages to a message 
	# file
	"TimePerFile":15,

	# The interval to expect heartbeat messages, -1 to disable expecting 
	# heartbeat messages
	"HeartbeatInterval":120,

	# whether to write heartbeat message file(s) to the OutputDirectory,
	# false to disable writing heartbeat message file(s)
	"WriteHeartbeatFile":true,

	# The hazdev broker configuration
	"HazdevBrokerConfig": {
		"Type":"ConsumerConfig",
		"Properties":{
			# the id of this consumer client
			"client.id":"consumer.example",

			# the group this consumer client belongs to.
			# multiple clients with the same group id balance load over all the 
			# clients allowing multiple clients to scale the processing of 
			# messages 
			# Client(s) with unique group id's process the topic independently
			# allowing for broadcasting of messages to many clients
			"group.id":"default.consumer",

			# the list of server(s) making up the kakfa broker cluster that this
			# client should connect to
			"bootstrap.servers":"localhost:9092",

			# This flag controls whether the consumer client automatically stores 
			# it's current position in the topic(s) it is consuming. This enables
			# the archive client to pick up where it left off after a restart
			"enable.auto.commit":"true"
		}
	},

	# The list of kafka topics this client should consume messages from
	"TopicList":["test"],

	# Logging configuration
	"Log4JConfigFile":"consumerclient.log4j.properties"
}
